* {
    font-family: 'roboto slab', serif; 
}



body {
    background-color: rgb(115, 115, 236);
    font: normal 15pt Arial;
}

header {
color: white;
text-align: center;
}

div {
    padding: 8px;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 100px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(80, 77, 77);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}